
.icon-user:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-lamp:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */